.loginButton {
  border: 1px solid rgb(12, 43, 44) !important;
  color: white !important;
  font-family: "Orbitron", sans-serif !important;
  font-size: 16px;
  transition: all 0.3s;

  &:hover {
    border: 1px solid #a8243c !important;
    color: #a8243c !important;
  }
}
