.navigationContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navLink {
  background-color: none;
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;
  outline: 1px solid rgba(0, 0, 0, 0.158);
  position: relative;

  &:hover {
    cursor: pointer;
    outline: 1px solid black;
  }
}

.underline {
  outline: 1px solid black;
}

.button {
  font-size: 18px;
  color: white;
  border-radius: 10px;
  height: max-content;
  padding: 10px;
  font-family: inherit;
  font-weight: lighter;
  background-color: #4f4537;
  cursor: pointer;
}

.menuItem {
  color: black;
  background-color: none;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  transition: all 0.3s;

  &:hover {
    background-color: none;
  }
}

.user {
  font-family: inherit;
  color: #4f4537;
  font-size: 20px;
  cursor: pointer;
}
