.headerContainer {
  height: 125px;
  width: 100%;
  display: flex;
  align-items: center;
}

.flexHeaderContainer {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.logoContainer {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
}

.navContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #031318;
  height: 100%;
}

.userContainer {
  width: 30%;
  display: flex;
  justify-content: center;
  color: white;
}

.navigationContainer {
  width: 70%;
  display: flex;
  justify-content: center;
}
