.loginDialog {
  & > div > div {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #0c2627;
  }
}

.closeIcon {
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
  color: #165758;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  .profileIcon {
    font-size: 90px;
    color: white;
  }

  .submitButton {
    background-color: transparent;
    border: 1px solid #144647;
    margin-top: 20px;
    width: 100px;
    transition: all 0.5s;
    font-family: "Orbitron", sans-serif !important;

    &:hover {
      background-color: #144647;
      width: 150px;
    }
  }
}
.inputField {
  color: white;

  &:hover {
    cursor: pointer;
  }

  & > div {
    &::before {
      border-bottom: solid 2px #103536;
    }

    &:hover {
      border-bottom: solid 1px transparent;
    }
    input {
      color: white !important;
      font-family: "Orbitron", sans-serif !important;
      font-size: 16px;
    }
  }
}
