@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Russo+One&display=swap");

.navigationContainer {
  width: 100%;
}

.navigations {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
}

.navigationButton {
  background-color: none !important;

  .navigationLabel {
    font-family: "Orbitron", sans-serif !important;
    font-weight: 600 !important;
    font-size: 14px;
    color: white;
    transition: all 0.3s;
  }

  &:hover {
    background-color: none !important;
    .navigationLabel {
      color: #a8243c;
    }
  }
}
