.dialogContent {
  position: relative;
  width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeIcon {
  font-size: 26px;
  // position: absolute;
  // right: 30px;
  // top: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.timing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  & > span {
    width: 56px !important;
    height: 56px !important;
    color: #4f4537;
  }
}

.succeedMessage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #4f4537;
  font-family: inherit;
}

.checkBox {
  font-size: 45px;
}

.message {
  font-size: 18px;
}
