.loginContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.logintitle {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.loginLabel {
  width: 90%;
  font-family: inherit;
  text-align: center;
  color: #4f4537;
  font-size: 32px;
}

.returnButton {
  color: #4f4537;
  display: flex;
  align-items: center;
  font-family: inherit;
  gap: 15px;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    border-radius: 10px;
    outline: solid 1px #4f4537;
    background-color: #4f4537;
    color: white;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  gap: 50px;
}

.submitButton {
  color: #4f4537;
  outline: solid 1px rgba(0, 0, 0, 0.108);
  width: 20%;
  padding: 5px;
  margin: 0 auto;
  font-size: 18px;
  font-family: inherit;

  &:hover {
    background-color: #4f4537;
    outline: none;
    color: white;
  }
}
