:root {
  --main-color: #70380f;
  --dark-text-color: #4e2c0b;
  --heading-color: #ffe3c8;
  --light-background-color: #ffc791;
  --text-color: #fff;
}

.App {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100vh;
  background: linear-gradient(to right bottom, #fff, rgb(202, 202, 202));
  background-repeat: no-repeat;
  background-size: cover;
}
